
<br>

<div class="card text-white bg-dark mb-3">

  <div class="card-header">
    <h2>About Me...</h2>
  </div>

  <div class="card-body">
    My Name Is Pavel and I'm Building a Pinterest Clone
  </div>

  <div class="card-footer">
    <%= link_to 'Home', root_path, class: "btn btn-primary" %>
  </div>

</div>