
<br>

<div class="card text-white bg-dark border-light  mb-3">

  <div class="card-header">
    <h2>Welcome To My App</h2>
  </div>

  <div class="card-body">
    It's Gonna Kick All Ass...
  </div>

  <div class="card-footer">
    <%= link_to 'About Us', home_about_path, class: "btn btn-primary" %>
  </div>

</div>